<h1>Amigos</h1>
<ng-container *ngFor="let u of users; let i = index;">
  <p>
    <ng-container *ngIf="u.friend" >
        <a routerLink="/conversation/{{u.idu}}"  > 
        {{i + 1 }}. {{u.nick}} - {{u.idu}}
        </a>
    </ng-container>
        
        
  </p>
  </ng-container>

  <h1>Desconocidos</h1>
  <ng-container *ngFor="let u of users; let i = index;">

  <p> 
      <ng-container *ngIf="!u.friend" > 
          <a routerLink="/conversation/{{u.idu}}"  >
          {{i + 1 }}. {{u.nick}} - {{u.idu}}
          </a>
      </ng-container>
  </p>
      
</ng-container>

